html{
height: 100%
overflow-y: scroll;
}


body {
height: 100%
overflow-y: scroll;
background-color: white;
}


td {
text-color: red;
}

.centered {

    word-wrap: break-word;
    margin-right: auto;
    margin-left: auto;
    width: 70vw
    }
    /*
 overflow-y: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes
  transform: translate(-50%, -50%);
} */