<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Ändra och skapa artiklar</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <p>Hej, <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
        <button type="submit">Logout</button></form>

<table class="centered">
    <tr th:each="article: ${listArticles}">
        <td class="article-text" style="overflow-x: hidden" th:utext="${article.articleText}"/>
        <td type="hidden" th:field="${article.id}"/>
        <td><form th:action="@{/editarticle/{articleId}(articleId=${article.getId()})}" method="get"><button type="submit">Ändra</button></form></td>
    </tr>
</table>
</div>
<div sec:authorize="isAnonymous()">
    <p>Hej! För att ändra artiklar så måste du logga in!</p>
    <br>
    <form th:action="@{/login}" method="post"><input type="submit" value="Logga in"/></form>

    <table class="centered">
        <tr th:each="article: ${listArticles}">
            <td style="height:120px;width:120px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" th:utext="${article.articleText}"/>
        </tr>
    </table>
</div>
</body>
</html>