<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ändra och skapa artiklar</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <p>Hej, <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
        <button type="submit">Logout</button></form>

<table>
    <tr th:each="article: ${listArticles}">
        <td th:text="${article.articleText}"/>
        <td th:text="${article.id}"/>
        <td><form th:action="@{/editarticle/{articleId}(articleId=${article.getId()})}" method="get"><button type="submit">Ändra</button></form></td>
    </tr>
</table>
</div>
<div sec:authorize="isAnonymous()">
    <p>Hej! För att ändra artiklar så måste du logga in!</p>
    <br>
    <form th:action="@{/login}" method="post"><input type="submit" value="Logga in"/></form>
</div>
</body>
</html>