<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Ändra artikel </title>

</head>
<body>
<div sec:authorize="isAuthenticated()">
  <form th:action="@{/logout}" method="post">
    <p>Hej, <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
    <input type="submit">Logout</form>

  <form th:action="@{/updatearticle}" th:objet="${article}" method="post">
    <label>Email:</label>
    <input type="text" th:field="${article.articleText}"/>
    <br>
    <input type="text" th:field="${article.id}"/>
    <button type="submit">Skapa artikel</button>
  </form>


</div>


</body>
</html>