<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Ändra artikel </title>

</head>
<body>
<div sec:authorize="isAuthenticated()">
  <form th:action="@{/logout}" method="post">
    <p>Hej, <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
    <input type="submit">Logout</form>

  <table>
    <tr th:each="thearticle: ${article}">
      <td th:text="${thearticle.articleText}"/>
      <td th:text="${thearticle.id}"/>
    </tr>
  </table>

</div>


</body>
</html>