<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Ändra artikel </title>

</head>
<body>
<div sec:authorize="isAuthenticated()">
  <form th:action="@{/logout}" method="post">
    <p>Hej, <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
    <button type="submit">Logout</button></form>

  <form th:action="@{/updatearticle}" th:objet="${article}" method="post">

    <!-- <input type="text" th:field="${article.articleText}"/> -->
    <textarea class="form-control" rows="12"
              style="margin-top: 10px; white-space: pre-wrap;"
               th:field="${article.articleText}">[[${article.articleText}]]</textarea>
    <br>
    <input type="hidden" th:field="${article.id}"/>
    <input type="hidden" th:field="${article.emailOfAuthor}">
    <input type="hidden" th:field="${article.privateArticle}">

    <h3><tr th:if="${article.getAuthor} == ${#authentication.principal.getUsername}">You are the author of this article


      <h3><p>Privacy settings:</p></h3>
      <input type="radio" th:name="${article.privateArticle}" value=1 th:field="${article.trashField}">Private</input>

      <input type="radio" th:name="${article.privateArticle}" value=0 th:field="${article.trashField}">Public</input>
      </tr></h3>
    <br>
    <button type="submit">Spara artikel</button>
  </form>



  <h3><tr th:if="${article.getAuthor} != ${#authentication.principal.getUsername}">You are not the author of this article</tr></h3>

</div>


</body>
</html>