<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registrera ny användare</title>

</head>
<body>
<form th:action="@{/sparaartikel}" th:objet="${article}" method="post">
  <label>Skriv in artikel:</label>
  <input type="text" th:field="${article.articleText}"/>
  <br>

  <!-- <span sec:authentication="principal.username">Fullname</span> -->

  <button type="submit">Skapa artikel</button>
</form>
</body>
</html>